@charset "UTF-8";
@font-face {
  font-family: ALSSchlange;
  src: url("fonts/alsschlangeregular.otf");
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-Bold.otf");
  font-size: bold;
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-Cond.otf");
  font-stretch: condensed;
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-CondBold.otf");
  font-stretch: condensed;
  font-size: bold;
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-CondMedium.otf");
  font-stretch: condensed;
  font-weight: medium;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes load {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
  }
  50% {
    transform: translate(-50%, -50%) scale(5);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.1);
  }
}
.no-overflow {
  overflow: hidden;
}

.scrollable {
  overflow: auto;
}

.table-container {
  position: relative;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 100%;
}
table th {
  position: sticky;
  top: 0;
  font-family: "DIN Pro", sans;
  border-bottom: 2px solid #3c3835;
  background: white;
}
table td, table th {
  padding-left: 8px;
}
table tr:nth-child(2n) {
  background: #0001;
}
table tr.clickable {
  cursor: pointer;
}
table tr.clickable:hover {
  background: rgba(60, 56, 53, 0.2);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DIN Pro", sans;
  text-transform: uppercase;
}

html, body {
  background-color: white;
  background: url("graphics/PODLOGA.svg");
  background-size: 5%;
  color: #3c3835;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: ALSSchlange, serif;
}
body::after {
  /* Fadein */
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background: white;
  z-index: 1;
  pointer-events: none;
  animation: 0.5s fadeout forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none !important;
  }
}
body:not([logged_in=true]) .logged-in {
  display: none !important;
}

.display-none {
  display: none !important;
}

.hidden {
  opacity: 0;
  display: none;
}

.fadein {
  animation: fade-in 0.25s forwards;
}

.fadeout {
  animation: fade-out 0.25s forwards;
}

.follow-mouse {
  position: fixed;
  max-width: calc(50vmin - 16px);
  max-height: calc(50vmin - 16px);
  background: #0009;
  backdrop-filter: blur(5px);
  padding: 8px;
}
.mouse-left.mouse-top .follow-mouse {
  left: calc(var(--mouse-x) * 100% + 16px);
  top: calc(var(--mouse-y) * 100% + 16px);
  transform: translate(0%, 0%);
}
.mouse-right.mouse-top .follow-mouse {
  left: calc(var(--mouse-x) * 100% - 16px);
  top: calc(var(--mouse-y) * 100% + 16px);
  transform: translate(-100%, 0%);
}
.mouse-left.mouse-bottom .follow-mouse {
  left: calc(var(--mouse-x) * 100% + 16px);
  top: calc(var(--mouse-y) * 100% - 16px);
  transform: translate(0%, -100%);
}
.mouse-right.mouse-bottom .follow-mouse {
  left: calc(var(--mouse-x) * 100% - 16px);
  top: calc(var(--mouse-y) * 100% - 16px);
  transform: translate(-100%, -100%);
}

img {
  opacity: 1;
  transition: opacity 0.25s;
}
img.not-loaded {
  opacity: 0;
}
img.icon {
  user-select: none;
}
header img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 125%;
}
footer img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  height: calc(100% - 2vh);
  width: calc(100% - 2vh);
}

header {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  background: #3c3835;
  height: 13vh;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}
header.smaller {
  height: 6.5vh;
}

footer {
  flex: 0 0 auto;
  position: absolute;
  background: white;
  bottom: 0;
  height: 4vh;
  width: 13vh;
  padding: 1vh;
}

.card {
  display: block;
  background: white;
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
}
.card.full {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}

.full {
  width: 100%;
  height: 100%;
}

.flex-static {
  flex: 0 0 auto;
}

.flex-dynamic {
  flex: 1 1;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

.flex-horizontal {
  display: flex;
  flex-flow: row nowrap;
}

.flex-vertical {
  display: flex;
  flex-flow: column nowrap;
}

.flex-inline {
  display: inline-flex;
}

.fit-content {
  max-width: fit-content;
  max-height: fit-content;
}

span.icon {
  font-size: 24px;
  user-select: none;
}
span.icon::after {
  content: "︎";
}

button {
  background: #3c3835;
  color: white;
  padding: 8px 8px;
  text-transform: uppercase;
  border: none;
  font-family: "DIN Pro", sans-serif, sans;
  cursor: pointer;
  transition: opacity 0.1s;
}
button.icon {
  background: transparent;
  color: #3c3835;
}
button.icon:disabled {
  opacity: 0;
}
button.icon:hover, button.icon:focus {
  background: rgba(60, 56, 53, 0.1);
}
button.icon:active {
  background: rgba(60, 56, 53, 0.2);
}
button:hover, button:focus {
  background: #514c48;
}
button:active {
  background: #363230;
}
button:disabled, button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

input, textarea {
  background: white;
  color: #3c3835;
  border: 2px solid #3c3835;
  padding: 4px;
  font-family: "DIN Pro", sans-serif, sans;
  font-size: 14px;
  resize: none;
}
input.changed, textarea.changed {
  background: #f8d3b7;
}

textarea {
  padding: 4px;
}

form.login-form {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
form.login-form input {
  margin-bottom: 16px;
}

article.food-element {
  height: var(--height);
  position: relative;
  margin-top: 4.5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  box-sizing: border-box;
  transition: margin-right 0.25s, opacity 0.25s, height 0.2s, scale 0.5s;
  z-index: 1;
}
@media (max-aspect-ratio: 5/3) {
  article.food-element.focused {
    scale: 1.1;
  }
}
article.food-element h1, article.food-element p {
  transition: font-size 0.25s;
}
article.food-element h1 {
  font: calc(var(--height) * 0.0568181818) "DIN Pro";
  font-weight: bold;
  text-transform: uppercase;
}
article.food-element p {
  font: calc(var(--height) * 0.0327272727) ALSSchlange;
}
article.food-element p.food-discount {
  font: calc(var(--height) * 0.0590909091) "DIN Pro";
  font-weight: medium;
  font-stretch: condensed;
  margin: 0;
  position: absolute;
  bottom: 0;
  transform: translateY(calc(-1 * calc(var(--height) * 0.2272727273)));
  padding-left: calc(var(--padding) * 0.5);
  transition: transform 0.25s;
}
article.food-element p.food-discount .food-original-price {
  text-decoration: line-through 0.2vh;
}
article.food-element p.food-price {
  font: calc(var(--height) * 0.2272727273) "DIN Pro";
  font-weight: bold;
  margin: 0;
  position: absolute;
  bottom: 0;
}
article.food-element p.food-price::after {
  content: "kn";
  font-size: 50.4%;
}
.food-image {
  position: absolute;
  height: 75vh;
  width: 75vh;
  z-index: 2;
  filter: brightness(120%);
  border-radius: 100%;
  transform-origin: top left;
  transform: scale(var(--scale));
  transition: transform 0.25s;
}
.food-image img {
  height: 100%;
  border-radius: 100%;
  position: relative;
  z-index: 3;
}
.food-image img.not-loaded {
  background: white;
  opacity: 1;
  z-index: 1;
}
.food-image::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: #9e9c9a;
  animation: load 2s infinite;
  z-index: 2;
}
.food-image::before {
  /* Shadow */
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: calc(50% - 16px);
  width: 100%;
  height: 16px;
  z-index: 1;
  transform-origin: bottom;
  transform: rotate(45deg);
  opacity: 0.2;
  box-shadow: 0 16px #3c3835,0 32px rgba(60, 56, 53, 0.96),0 48px rgba(60, 56, 53, 0.92),0 64px rgba(60, 56, 53, 0.88),0 80px rgba(60, 56, 53, 0.84),0 96px rgba(60, 56, 53, 0.8),0 112px rgba(60, 56, 53, 0.76),0 128px rgba(60, 56, 53, 0.72),0 144px rgba(60, 56, 53, 0.68),0 160px rgba(60, 56, 53, 0.64),0 176px rgba(60, 56, 53, 0.6),0 192px rgba(60, 56, 53, 0.56),0 208px rgba(60, 56, 53, 0.52),0 224px rgba(60, 56, 53, 0.48),0 240px rgba(60, 56, 53, 0.44),0 256px rgba(60, 56, 53, 0.4),0 272px rgba(60, 56, 53, 0.36),0 288px rgba(60, 56, 53, 0.32),0 304px rgba(60, 56, 53, 0.28),0 320px rgba(60, 56, 53, 0.24),0 336px rgba(60, 56, 53, 0.2),0 352px rgba(60, 56, 53, 0.16),0 368px rgba(60, 56, 53, 0.12),0 384px rgba(60, 56, 53, 0.08),0 400px rgba(60, 56, 53, 0.04);
}
article.food-element:nth-child(2n+1) .food-image {
  right: 0;
  transform-origin: top right;
  transform: scale(var(--scale));
}
article.food-element:nth-child(2n+1) .food-image::before {
  transform: rotate(-45deg);
}

.food-details {
  display: flex;
  flex-flow: row-reverse nowrap;
  position: absolute;
  left: var(--half-height);
  width: calc(100% - var(--height) / 2);
  height: 100%;
  top: 0;
  background: white;
  padding: var(--padding);
  box-sizing: border-box;
  transition: width 0.2s, left 0.2s;
}
.food-details .food-summary {
  flex: 2;
  position: relative;
  border-top: calc(var(--height) * 0.0136363636) solid #3c3835;
  box-sizing: border-box;
  height: calc(var(--height) - 2 * var(--padding));
  transition: height 0.25s;
}
.food-details .food-blank {
  transition: flex-basis 0.2s;
  height: calc(var(--height));
  flex: 0 0 var(--half-height);
}
.food-details .food-details-additional {
  display: flex;
  flex-flow: row;
  height: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition: height 0.1s, opacity 0.25s;
  top: 22vh;
  left: var(--padding);
  padding-top: 5.5vh;
  padding-left: var(--padding);
  padding-right: var(--padding);
  box-sizing: border-box;
}
.food-details .food-details-additional .food-details-column-left {
  flex: 3;
  margin-right: var(--padding);
}
.food-details .food-details-additional .food-details-column-left > * {
  border-top: 1px solid #3c3835;
  margin-top: var(--padding);
}
.food-details .food-details-additional .food-details-column-right {
  flex: 2;
  margin-left: var(--padding);
}
.food-details .food-details-additional .food-nutrients-icons-icons {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  padding-right: calc(var(--padding) * 2);
}
.food-details .food-details-additional .food-nutrients-icons-icons > div {
  flex: 1;
  margin: calc(var(--padding) * 0.1);
}
.food-details .food-details-additional .food-nutrients-icons-icons > div img {
  width: 100%;
}
.food-details .food-details-additional .food-nutrients-table-table tr, .food-details .food-details-additional .food-nutrients-table-table td, .food-details .food-details-additional .food-nutrients-table-table th {
  border: 0px solid transparent;
  background: transparent;
  padding: 0;
}
.food-details .food-details-additional .food-nutrients-table-table thead tr:first-child td, .food-details .food-details-additional .food-nutrients-table-table thead tr:first-child th, .food-details .food-details-additional .food-nutrients-table-table tfoot tr:first-child td, .food-details .food-details-additional .food-nutrients-table-table tfoot tr:first-child th {
  border-top: var(--padding) solid #3c3835;
}
.food-details .food-details-additional .food-nutrients-table-table td, .food-details .food-details-additional .food-nutrients-table-table th {
  border-top: 1px solid #3c3835;
}
.food-details .food-details-additional .food-nutrients-table-table tr > * {
  text-align: right;
}
.food-details .food-details-additional .food-nutrients-table-table tr > *:first-child {
  text-align: left;
}
.food-details .food-details-additional .food-nutrients-table-table tbody tr:first-child td, .food-details .food-details-additional .food-nutrients-table-table tbody tr:first-child th {
  border-top: calc(0.5 * var(--padding)) solid #3c3835;
}
article.food-element:nth-child(2n+1) .food-details {
  left: 0;
  flex-flow: row nowrap;
}

article.food-element.large {
  height: 75vh;
}
article.food-element.large .food-image, article.food-element.large .food-blank, article.food-element.large .food-summary {
  --height: 22vh;
  --half-height: 11vh;
  --scale: 0.2933333333;
}
article.food-element.large .food-details {
  width: calc(100% - 2vw);
  left: 2vw;
  right: 0;
}
article.food-element.large .food-details .food-blank {
  flex-basis: calc(22vh - 2vw);
}
article.food-element.large .food-details .food-details-additional {
  height: calc(53vh - var(--padding));
  width: calc(100% - var(--padding) * 2);
  opacity: 1;
}
article.food-element:first-child {
  margin-top: 4vh;
}
article.food-element:last-child {
  margin-bottom: 8vh;
}

main {
  position: relative;
  flex: 1;
  width: 100vw;
  overflow: hidden;
  --height: 35.25vh;
  --scale: 0.47;
  --half-height: 17.625vh;
  --padding: 1.7625vh;
}
@media (max-aspect-ratio: 9/10) {
  main {
    --height: 22vh;
    --scale: 0.2933333333;
    --half-height: 11vh;
    --padding: 1.1vh;
  }
}
@media (min-aspect-ratio: 5/3) {
  main {
    --height: 75vh;
    --scale: 1;
    --half-height: 37.5vh;
    --padding: 3.75vh;
  }
}
main.has-scrollbar article.food-element {
  margin-right: 10vw;
}

div.scroll-container {
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  z-index: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
div.scroll-container::-webkit-scrollbar {
  display: none;
}

div.scrollbar {
  display: block;
  position: absolute;
  right: 5vw;
  top: 0;
  width: 2vw;
  height: calc(100% - 8vh);
  background: white;
  border: solid #a5a7aa 1.5px;
  border-radius: 100000px;
  box-sizing: border-box;
  transition: width 0.25s, opacity 0.25s;
  z-index: 1;
  user-select: none;
  margin-top: 4vh;
  margin-bottom: 4vh;
  opacity: 1;
}
div.scrollbar.invisible {
  width: 0px;
  opacity: 0;
}
div.scrollbar .scrollbar-nub {
  display: block;
  position: absolute;
  height: 0;
  top: 0;
  width: 100%;
  background: #a5a7aa;
  border-radius: 100000px;
  box-sizing: content-box;
  padding-top: 2px;
  transition: transform 0.1s, height 0.25s;
}

/*# sourceMappingURL=style.css.map */
