@charset "UTF-8";
@font-face {
  font-family: ALSSchlange;
  src: url("fonts/alsschlangeregular.otf");
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-Bold.otf");
  font-size: bold;
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-Cond.otf");
  font-stretch: condensed;
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-CondBold.otf");
  font-stretch: condensed;
  font-size: bold;
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-CondMedium.otf");
  font-stretch: condensed;
  font-weight: medium;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes spin-pulse {
  0% {
    transform: rotate(0deg);
    border-width: 1vh;
  }
  25% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(720deg);
    border-width: 0vh;
  }
  75% {
    transform: rotate(1080deg);
  }
  100% {
    transform: rotate(1440deg);
    border-width: 1vh;
  }
}
.no-overflow {
  overflow: hidden;
}

.scrollable {
  overflow: auto;
}

.table-container {
  position: relative;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 100%;
}
table th {
  position: sticky;
  top: 0;
  font-family: "DIN Pro", sans;
  border-bottom: 2px solid #3c3835;
  background: white;
}
table td, table th {
  padding-left: 8px;
}
table tr:nth-child(2n) {
  background: #0001;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "DIN Pro", sans;
  text-transform: uppercase;
}

html, body {
  background-color: white;
  background: url("graphics/PODLOGA.svg");
  background-size: 5%;
  color: #3c3835;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: ALSSchlange, serif;
}
body::after {
  /* Fadein */
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background: white;
  z-index: 1;
  pointer-events: none;
  animation: 0.5s fadeout forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
    display: initial;
  }
  100% {
    opacity: 0;
    display: none;
    pointer-events: none;
  }
}
body:not([logged_in=true]) .logged-in {
  display: none !important;
}

.hidden {
  opacity: 0;
  display: none;
}

.fadein {
  animation: fade-in 0.25s forwards;
}

.fadeout {
  animation: fade-out 0.25s forwards;
}

.follow-mouse {
  position: fixed;
  max-width: calc(50vmin - 16px);
  max-height: calc(50vmin - 16px);
  background: #0009;
  backdrop-filter: blur(5px);
  padding: 8px;
}
.mouse-left.mouse-top .follow-mouse {
  left: calc(var(--mouse-x) * 100% + 16px);
  top: calc(var(--mouse-y) * 100% + 16px);
  transform: translate(0%, 0%);
}
.mouse-right.mouse-top .follow-mouse {
  left: calc(var(--mouse-x) * 100% - 16px);
  top: calc(var(--mouse-y) * 100% + 16px);
  transform: translate(-100%, 0%);
}
.mouse-left.mouse-bottom .follow-mouse {
  left: calc(var(--mouse-x) * 100% + 16px);
  top: calc(var(--mouse-y) * 100% - 16px);
  transform: translate(0%, -100%);
}
.mouse-right.mouse-bottom .follow-mouse {
  left: calc(var(--mouse-x) * 100% - 16px);
  top: calc(var(--mouse-y) * 100% - 16px);
  transform: translate(-100%, -100%);
}

img {
  opacity: 1;
  transition: opacity 0.25s;
}
img.not-loaded {
  opacity: 0;
}
img.icon {
  user-select: none;
}
header img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 125%;
}
footer img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  height: calc(100% - 2vh);
  width: calc(100% - 2vh);
}

header {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  background: #3c3835;
  height: 13vh;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}
header.smaller {
  height: 6.5vh;
}

footer {
  flex: 0 0 auto;
  position: absolute;
  background: white;
  bottom: 0;
  height: 4vh;
  width: 13vh;
  padding: 1vh;
}

.card {
  display: block;
  background: white;
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
}
.card.full {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}

.full {
  width: 100%;
  height: 100%;
}

.flex-static {
  flex: 0 0 auto;
}

.flex-dynamic {
  flex: 1 1;
}

.flex-center {
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

.flex-horizontal {
  display: flex;
  flex-flow: row nowrap;
}

.flex-vertical {
  display: flex;
  flex-flow: column nowrap;
}

.flex-inline {
  display: inline-flex;
}

.fit-content {
  max-width: fit-content;
  max-height: fit-content;
}

span.icon {
  font-size: 24px;
  user-select: none;
}
span.icon::after {
  content: "︎";
}

button {
  background: #3c3835;
  color: white;
  padding: 8px 8px;
  text-transform: uppercase;
  border: none;
  font-family: "DIN Pro", sans-serif, sans;
  cursor: pointer;
  transition: opacity 0.1s;
}
button.icon {
  background: transparent;
  color: #3c3835;
}
button.icon:disabled {
  opacity: 0;
}
button.icon:hover, button.icon:focus {
  background: rgba(60, 56, 53, 0.1);
}
button.icon:active {
  background: rgba(60, 56, 53, 0.2);
}
button:hover, button:focus {
  background: #514c48;
}
button:active {
  background: #363230;
}
button:disabled, button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

input, textarea {
  background: white;
  color: #3c3835;
  border: 2px solid #3c3835;
  padding: 4px;
  font-family: "DIN Pro", sans-serif, sans;
  font-size: 14px;
  resize: none;
}
input.changed, textarea.changed {
  background: #f8d3b7;
}

textarea {
  padding: 4px;
}

form.login-form {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
form.login-form input {
  margin-bottom: 16px;
}

main {
  position: relative;
  flex: 1;
  width: 100vw;
  overflow: hidden;
}
main article.food-element {
  position: relative;
  height: 22vh;
  margin-top: 4.5vh;
  margin-left: 5vw;
  margin-right: 5vw;
  box-sizing: border-box;
  transition: margin-right 0.25s, opacity 0.25s, height 0.2s;
  z-index: 1;
}
main article.food-element.unfocused {
  opacity: 0.5;
}
main article.food-element.large {
  height: 75vh;
}
main article.food-element.large .food-details {
  width: calc(100% - 2vw);
  left: 2vw;
  right: 0;
}
main article.food-element.large .food-details .food-blank {
  flex-basis: calc(22vh - 2vw);
}
main article.food-element.large .food-details .food-details-additional {
  height: 53vh;
  opacity: 1;
}
main article.food-element .food-image {
  position: absolute;
  height: 22vh;
  left: 11vh;
  z-index: 2;
  transform: translateX(-50%);
  filter: brightness(120%);
  background: white;
  border-radius: 100%;
}
main article.food-element .food-image img {
  height: 100%;
  border-radius: 100%;
  position: relative;
  max-height: 22vh;
  z-index: 3;
}
main article.food-element .food-image::after {
  content: "";
  display: block;
  position: absolute;
  left: 25%;
  top: 25%;
  bottom: 25%;
  right: 25%;
  border-top: 1vh solid transparent;
  border-bottom: 1vh solid transparent;
  border-left: 1vh solid #3c3835;
  border-right: 1vh solid #3c3835;
  border-radius: 100%;
  z-index: 2;
  animation: spin-pulse 4s infinite;
}
main article.food-element .food-image::before {
  /* Shadow */
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 37.5%;
  width: 100%;
  height: 12.5%;
  z-index: 1;
  transform-origin: bottom;
  transform: rotate(45deg);
  box-shadow: 0 2.75vh rgba(60, 56, 53, 0.375), 0 5.5vh rgba(60, 56, 53, 0.35), 0 8.25vh rgba(60, 56, 53, 0.325), 0 11vh rgba(60, 56, 53, 0.3), 0 13.75vh rgba(60, 56, 53, 0.275), 0 16.5vh rgba(60, 56, 53, 0.25), 0 19.25vh rgba(60, 56, 53, 0.225), 0 22vh rgba(60, 56, 53, 0.2), 0 24.75vh rgba(60, 56, 53, 0.175), 0 27.5vh rgba(60, 56, 53, 0.15), 0 30.25vh rgba(60, 56, 53, 0.125), 0 33vh rgba(60, 56, 53, 0.1), 0 35.75vh rgba(60, 56, 53, 0.075), 0 38.5vh rgba(60, 56, 53, 0.05), 0 41.25vh rgba(60, 56, 53, 0.025);
  opacity: 0.2;
}
main article.food-element .food-details {
  display: flex;
  flex-flow: row-reverse nowrap;
  position: absolute;
  left: 11vh;
  width: calc(100% - 11vh);
  height: 100%;
  top: 0;
  background: white;
  padding: 1vh;
  box-sizing: border-box;
  transition: width 0.2s, left 0.2s;
}
main article.food-element .food-details .food-summary {
  flex: 2;
  position: relative;
  border-top: 0.3vh solid #3c3835;
  box-sizing: border-box;
  height: 22vh;
}
main article.food-element .food-details .food-blank {
  transition: flex-basis 0.2s;
  height: 22vh;
  flex: 0 0 11vh;
}
main article.food-element .food-details .food-details-additional {
  height: 0;
  width: 66%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition: height 0.1s, opacity 0.25s;
  top: 22vh;
  left: 1vh;
}
main article.food-element:nth-child(2n+1) .food-details {
  left: 0;
  flex-flow: row nowrap;
}
main article.food-element:nth-child(2n+1) .food-image {
  right: 11vh;
  left: initial;
  transform: translateX(50%);
}
main article.food-element:nth-child(2n+1) .food-image::before {
  transform: rotate(-45deg);
  /* transform: rotate(-45deg) scale(1, 4) translateY(50%); */
}
main article.food-element:nth-child(2n+1).large .food-details {
  left: 0;
}
main article.food-element h1 {
  font: 1.25vh "DIN Pro";
  font-weight: bold;
  text-transform: uppercase;
}
main article.food-element p {
  font: 0.72vh ALSSchlange;
}
main article.food-element p.food-discount {
  font: 1.3vh "DIN Pro";
  font-weight: medium;
  font-stretch: condensed;
  margin: 0;
  position: absolute;
  bottom: 7.5vh;
  padding-left: 0.5vh;
}
main article.food-element p.food-discount .food-original-price {
  text-decoration: line-through 0.2vh;
}
main article.food-element p.food-price {
  font: 5vh "DIN Pro";
  font-weight: bold;
  margin: 0;
  position: absolute;
  bottom: 2vh;
}
main article.food-element p.food-price::after {
  content: "kn";
  font-size: 50.4%;
}
main article.food-element:first-child {
  margin-top: 4vh;
}
main article.food-element:last-child {
  margin-bottom: 8vh;
}
main.has-scrollbar article.food-element {
  margin-right: 10vw;
}

div.scroll-container {
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  z-index: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
div.scroll-container::-webkit-scrollbar {
  display: none;
}

div.scrollbar {
  display: block;
  position: absolute;
  right: 5vw;
  top: 0;
  width: 2vw;
  height: calc(100% - 8vh);
  background: white;
  border: solid #a5a7aa 1.5px;
  border-radius: 100000px;
  box-sizing: border-box;
  transition: width 0.25s, opacity 0.25s;
  z-index: 1;
  user-select: none;
  margin-top: 4vh;
  margin-bottom: 4vh;
  opacity: 1;
}
div.scrollbar.invisible {
  width: 0px;
  opacity: 0;
}
div.scrollbar .scrollbar-nub {
  display: block;
  position: absolute;
  height: 0;
  top: 0;
  width: 100%;
  background: #a5a7aa;
  border-radius: 100000px;
  box-sizing: content-box;
  padding-top: 2px;
  transition: transform 0.1s, height 0.25s;
}

/*# sourceMappingURL=style.css.map */
