$primary: #3c3835;

@font-face {
	font-family: ALSSchlange;
	src: url("fonts/alsschlangeregular.otf");
}
@font-face {
	font-family: "DIN Pro";
	src: url("fonts/DINPro-Bold.otf");
	font-size: bold;
}
@font-face {
	font-family: "DIN Pro";
	src: url("fonts/DINPro-Cond.otf");
	font-stretch: condensed;
}
@font-face {
	font-family: "DIN Pro";
	src: url("fonts/DINPro-CondBold.otf");
	font-stretch: condensed;
	font-size: bold;
}
@font-face {
	font-family: "DIN Pro";
	src: url("fonts/DINPro-CondMedium.otf");
	font-stretch: condensed;
	font-weight: medium;
}

@keyframes fadeout {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes spin-pulse {
	0% {
		transform: rotate(0deg);
		border-width: 1vh;
	}
	25% {
		transform: rotate(360deg);
	}
	50% {
		transform: rotate(720deg);
		border-width: 0vh;
	}
	75% {
		transform: rotate(1080deg);
	}
	100% {
		transform: rotate(1440deg);
		border-width: 1vh;
	}
}

.no-overflow {
	overflow: hidden;
}

.scrollable {
	overflow: auto;
}

.table-container {
	position: relative;
}

table {
	border-collapse: separate;
	border-spacing: 0;
	min-width: 100%;

	th {
		position: sticky;
		top: 0;
		font-family: "DIN Pro", sans;
		border-bottom: 2px solid $primary;
		background: white;
	}

	td, th {
		padding-left: 8px;
	}

	tr {
		&:nth-child(2n) {
			background: #0001;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-family: "DIN Pro", sans;
	text-transform: uppercase;
}

html, body {
	background-color: white;
	background: url("graphics/PODLOGA.svg");
	background-size: 5%;
	color: $primary;
	padding: 0;
	margin: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

body {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	font-family: ALSSchlange, serif;

	&::after {
		/* Fadein */
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100vw;
		height: 100vh;
		opacity: 1;
		background: white;
		z-index: 1;
		pointer-events: none;
		animation: 0.5s fadeout forwards;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
		pointer-events: all;
	}
}

@keyframes fade-out {
	0% {
		opacity: 1;
		display: initial;
	}
	100% {
		opacity: 0;
		display: none;
		pointer-events: none;
	}
}

body:not([logged_in=true]) .logged-in {
	display: none !important;
}

.hidden {
	opacity: 0;
	display: none;
}

.fadein {
	animation: fade-in 0.25s forwards;
}

.fadeout {
	animation: fade-out 0.25s forwards;
}

$offset: 16px;
.follow-mouse {
	position: fixed;
	max-width: calc(50vmin - #{$offset});
	max-height: calc(50vmin - #{$offset});
	background: #0009;
	backdrop-filter: blur(5px);
	padding: 8px;

	.mouse-left.mouse-top & {
		left: calc(var(--mouse-x) * 100% + #{$offset});
		top: calc(var(--mouse-y) * 100% + #{$offset});
		transform: translate(0%, 0%);
	}

	.mouse-right.mouse-top & {
		left: calc(var(--mouse-x) * 100% - #{$offset});
		top: calc(var(--mouse-y) * 100% + #{$offset});
		transform: translate(-100%, 0%);
	}

	.mouse-left.mouse-bottom & {
		left: calc(var(--mouse-x) * 100% + #{$offset});
		top: calc(var(--mouse-y) * 100% - #{$offset});
		transform: translate(0%, -100%);
	}

	.mouse-right.mouse-bottom & {
		left: calc(var(--mouse-x) * 100% - #{$offset});
		top: calc(var(--mouse-y) * 100% - #{$offset});
		transform: translate(-100%, -100%);
	}
}

img {
	opacity: 1;
	transition: opacity 0.25s;

	&.not-loaded {
		opacity: 0;
	}

	&.icon {
		user-select: none;
	}

	header & {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		height: 125%;
	}

	footer & {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		width: 100%;
		transform: translate(-50%, -50%);
		height: calc(100% - 2vh);
		width: calc(100% - 2vh);
	}
}

header {
	flex: 0 0 auto;
	position: relative;

	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;

	background: $primary;
	height: 13vh;
	width: 100%;

	box-sizing: border-box;
	padding: 8px;

	&.smaller {
		height: 6.5vh;
	}
}

footer {
	flex: 0 0 auto;
	position: absolute;
	background: white;
	bottom: 0;
	height: 4vh;
	width: 13vh;
	padding: 1vh;
}

.card {
	display: block;
	background: white;
	margin: 16px;
	padding: 16px;
	box-sizing: border-box;

	&.full {
		width: calc(100% - 32px);
		height: calc(100% - 32px);
	}
}

.full {
	width: 100%;
	height: 100%;
}

.flex-static {
	flex: 0 0 auto;
}

.flex-dynamic {
	flex: 1 1;
}

.flex-center {
	justify-content: center;
}

.flex-middle {
	align-items: center;
}

.flex-horizontal {
	display: flex;
	flex-flow: row nowrap;
}

.flex-vertical {
	display: flex;
	flex-flow: column nowrap;
}

.flex-inline {
	display: inline-flex;
}

.fit-content {
	max-width: fit-content;
	max-height: fit-content;
}

span.icon {
	font-size: 24px;
	user-select: none;

	&::after {
		content: "\00FE0E"
	}
}

button {
	background: $primary;
	color: white;
	padding: 8px 8px;
	text-transform: uppercase;
	border: none;
	font-family: "DIN Pro", sans-serif, sans;
	cursor: pointer;
	transition: opacity 0.1s;

	&.icon {
		background: transparent;
		color: $primary;

		&:disabled {
			opacity: 0;
		}

		&:hover, &:focus {
			background: transparentize($primary, 0.9);
		}

		&:active {
			background: transparentize($primary, 0.8);
		}
	}

	&:hover, &:focus {
		background: scale-color($primary, $lightness: 10%);
	}

	&:active {
		background: scale-color($primary, $lightness: -10%);
	}

	&:disabled, &.disabled {
		opacity: 0.5;
		pointer-events: none;
	}
}

input, textarea {
	background: white;
	color: $primary;
	border: 2px solid $primary;
	padding: 4px;
	font-family: "DIN Pro", sans-serif, sans;
	font-size: 14px;
	resize: none;

	&.changed {
		background: scale-color($primary, $saturation: 80%, $lightness: 80%);
	}
}

textarea {
	padding: 4px;
}

form.login-form {
	display: flex;
	flex-flow: column nowrap;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);

	input {
		margin-bottom: 16px;
	}
}

main {
	position: relative;
	flex: 1;
	width: 100vw;
	overflow: hidden;

	article.food-element {
		position: relative;
		height: 22vh;
		margin-top: 4.5vh;
		margin-left: 5vw;
		margin-right: 5vw;
		box-sizing: border-box;
		transition: margin-right 0.25s, opacity 0.25s, height 0.2s;
		z-index: 1;

		&.unfocused {
			opacity: 0.5;
		}

		&.large {
			height: 75vh;

			.food-details {
				width: calc(100% - 2vw);
				left: 2vw;
				right: 0;

				.food-blank {
					flex-basis: calc(22vh - 2vw);
				}

				.food-details-additional {
					height: 53vh;
					opacity: 1;
				}
			}
		}

		.food-image {
			position: absolute;
			height: 22vh;
			left: 11vh;
			z-index: 2;
			transform: translateX(-50%);
			filter: brightness(120%);
			background: white;
			border-radius: 100%;

			img {
				height: 100%;
				border-radius: 100%;
				position: relative;
				max-height: 22vh;
				z-index: 3;
			}

			&::after {
				content: "";
				display: block;
				position: absolute;
				left: 25%;
				top: 25%;
				bottom: 25%;
				right: 25%;
				border-top: 1vh solid transparent;
				border-bottom: 1vh solid transparent;
				border-left: 1vh solid $primary;
				border-right: 1vh solid $primary;
				border-radius: 100%;
				z-index: 2;
				animation: spin-pulse 4s infinite;
			}

			&::before {
				/* Shadow */
				content: "";
				display: block;
				position: absolute;
				left: 0;
				top: 37.5%;
				width: 100%;
				height: 12.5%;
				z-index: 1;
				transform-origin: bottom;
				transform: rotate(45deg);
				box-shadow: 0 2.75vh transparentize($primary, 0.625),
							0 5.5vh transparentize($primary, 0.6499999999999999),
							0 8.25vh transparentize($primary, 0.675),
							0 11.0vh transparentize($primary, 0.7),
							0 13.75vh transparentize($primary, 0.725),
							0 16.5vh transparentize($primary, 0.75),
							0 19.25vh transparentize($primary, 0.775),
							0 22.0vh transparentize($primary, 0.8),
							0 24.75vh transparentize($primary, 0.825),
							0 27.5vh transparentize($primary, 0.85),
							0 30.25vh transparentize($primary, 0.875),
							0 33.0vh transparentize($primary, 0.9),
							0 35.75vh transparentize($primary, 0.925),
							0 38.5vh transparentize($primary, 0.95),
							0 41.25vh transparentize($primary, 0.975);
				opacity: 0.2;
			}
		}

		.food-details {
			display: flex;
			flex-flow: row-reverse nowrap;
			position: absolute;
			left: 11vh;
			width: calc(100% - 11vh);
			height: 100%;
			top: 0;
			background: white;
			padding: 1vh;
			box-sizing: border-box;
			transition: width 0.2s, left 0.2s;

			.food-summary {
				flex: 2;
				position: relative;
				border-top: 0.3vh solid $primary;
				box-sizing: border-box;
				height: 22vh;
			}

			.food-blank {
				transition: flex-basis 0.2s;
				height: 22vh;
				flex: 0 0 11vh;
			}

			.food-details-additional {
				height: 0;
				width: 66%;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				transition: height 0.1s, opacity 0.25s;
				top: 22vh;
				left: 1vh;
			}
		}

		&:nth-child(2n+1) {
			.food-details {
				left: 0;
				flex-flow: row nowrap;
			}

			.food-image {
				right: 11vh;
				left: initial;
				transform: translateX(50%);

				&::before {
					transform: rotate(-45deg);
					/* transform: rotate(-45deg) scale(1, 4) translateY(50%); */
				}
			}

			&.large {
				.food-details {
					left: 0;
				}
			}
		}

		h1 {
			font: 1.25vh "DIN Pro";
			font-weight: bold;
			text-transform: uppercase;
		}

		p {
			font: 0.72vh ALSSchlange;
		}

		p.food-discount {
			font: 1.3vh "DIN Pro";
			font-weight: medium;
			font-stretch: condensed;
			margin: 0;
			position: absolute;
			bottom: 7.5vh;
			padding-left: 0.5vh;
			.food-original-price {
				text-decoration: line-through 0.2vh;
			}
		}

		p.food-price {
			font: 5vh "DIN Pro";
			font-weight: bold;
			margin: 0;
			position: absolute;
			bottom: 2vh;
			&::after {
				content: "kn";
				font-size: 50.4%;
			}
		}

		&:first-child {
			margin-top: 4vh;
		}
		&:last-child {
			margin-bottom: 8vh;
		}
	}

	&.has-scrollbar {
		article.food-element {
			margin-right: 10vw;
		}
	}
}

div.scroll-container {
	position: relative;
	overflow: auto;
	height: 100%;
	width: 100%;
	box-sizing: content-box;
	z-index: 0;

	&::-webkit-scrollbar {
	  display: none;
	}

  -ms-overflow-style: none;
  scrollbar-width: none;
}

div.scrollbar {
	display: block;
	position: absolute;
	right: 5vw;
	top: 0;
	width: 2vw;
	height: calc(100% - 8vh);
	background: white;
	border: solid #a5a7aa 1.5px;
	border-radius: 100000px;
	box-sizing: border-box;
	transition: width 0.25s, opacity 0.25s;
	z-index: 1;
	user-select: none;
	margin-top: 4vh;
	margin-bottom: 4vh;
	opacity: 1;

	&.invisible {
		width: 0px;
		opacity: 0;
	}

	.scrollbar-nub {
		display: block;
		position: absolute;
		height: 0;
		top: 0;
		width: 100%;
		background: #a5a7aa;
		border-radius: 100000px;
		box-sizing: content-box;
		padding-top: 2px;
		transition: transform 0.1s, height 0.25s;
	}
}
