@charset "UTF-8";
@font-face {
  font-family: ALSSchlange;
  src: url("fonts/alsschlangeregular.otf");
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-Bold.otf");
  font-size: bold;
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-Cond.otf");
  font-stretch: condensed;
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-CondBold.otf");
  font-stretch: condensed;
  font-size: bold;
}
@font-face {
  font-family: "DIN Pro";
  src: url("fonts/DINPro-CondMedium.otf");
  font-stretch: condensed;
  font-weight: normal;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes load {
  0% {
    transform: translate(-50%, -50%) scale(0.1);
  }
  50% {
    transform: translate(-50%, -50%) scale(5);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.1);
  }
}
.no-overflow {
  overflow: hidden;
}

.scrollable {
  overflow: auto;
}

.table-container {
  position: relative;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  min-width: 100%;
}
table thead {
  position: relative;
  z-index: 2;
}
table tbody {
  position: relative;
  z-index: 1;
}
table tfoot {
  position: relative;
  z-index: 2;
}
table th {
  position: sticky;
  top: 0;
  font-family: "DIN Pro", sans;
  border-bottom: 2px solid #3c3835;
  background: white;
}
table td, table th {
  padding-left: 8px;
}
table td[value_type=string] details {
  width: max-content;
  min-width: 100%;
  max-width: 40ch;
}
table td[value_type=string] details summary {
  display: block;
  position: relative;
  color: #3c3835;
  background: transparent;
  text-align: left;
  font-family: "DIN Pro", sans;
  padding: 8px;
  padding-left: 24px;
  border: none;
  cursor: pointer;
  transition: opacity 0.1s;
}
table td[value_type=string] details summary::-webkit-details-marker {
  display: none;
}
table td[value_type=string] details summary::before {
  content: "▶";
  position: absolute;
  font-size: 12px;
  top: 50%;
  left: 12px;
  transform: translate(-50%, -50%);
}
table td[value_type=string] details summary:disabled {
  opacity: 0;
}
table td[value_type=string] details summary:hover, table td[value_type=string] details summary:focus {
  background: rgba(60, 56, 53, 0.1);
}
table td[value_type=string] details summary:active {
  background: rgba(60, 56, 53, 0.2);
}
table td[value_type=string] details[open] summary::before {
  content: "▼";
}
table tr:nth-child(2n) td {
  background: #0001;
}
table tr.clickable {
  cursor: pointer;
}
table tr.clickable:hover {
  background: rgba(60, 56, 53, 0.2);
}

h1 {
  font-family: "DIN Pro", sans;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  font-family: ALSSchlange, sans;
  text-transform: uppercase;
}

.admin-screen h1 {
  margin: 0;
}
.admin-screen h1 + h1 {
  margin-top: 0.67em;
}
.admin-screen h1 + h1.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h1 + h2 {
  margin-top: 0.67em;
}
.admin-screen h1 + h2.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h1 + h3 {
  margin-top: 0.67em;
}
.admin-screen h1 + h3.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h1 + h4 {
  margin-top: 0.67em;
}
.admin-screen h1 + h4.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h1 + h5 {
  margin-top: 0.67em;
}
.admin-screen h1 + h5.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h1 + h6 {
  margin-top: 0.67em;
}
.admin-screen h1 + h6.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h2 {
  margin: 0;
}
.admin-screen h2 + h1 {
  margin-top: 0.67em;
}
.admin-screen h2 + h1.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h2 + h2 {
  margin-top: 0.67em;
}
.admin-screen h2 + h2.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h2 + h3 {
  margin-top: 0.67em;
}
.admin-screen h2 + h3.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h2 + h4 {
  margin-top: 0.67em;
}
.admin-screen h2 + h4.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h2 + h5 {
  margin-top: 0.67em;
}
.admin-screen h2 + h5.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h2 + h6 {
  margin-top: 0.67em;
}
.admin-screen h2 + h6.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h3 {
  margin: 0;
}
.admin-screen h3 + h1 {
  margin-top: 0.67em;
}
.admin-screen h3 + h1.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h3 + h2 {
  margin-top: 0.67em;
}
.admin-screen h3 + h2.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h3 + h3 {
  margin-top: 0.67em;
}
.admin-screen h3 + h3.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h3 + h4 {
  margin-top: 0.67em;
}
.admin-screen h3 + h4.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h3 + h5 {
  margin-top: 0.67em;
}
.admin-screen h3 + h5.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h3 + h6 {
  margin-top: 0.67em;
}
.admin-screen h3 + h6.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h4 {
  margin: 0;
}
.admin-screen h4 + h1 {
  margin-top: 0.67em;
}
.admin-screen h4 + h1.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h4 + h2 {
  margin-top: 0.67em;
}
.admin-screen h4 + h2.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h4 + h3 {
  margin-top: 0.67em;
}
.admin-screen h4 + h3.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h4 + h4 {
  margin-top: 0.67em;
}
.admin-screen h4 + h4.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h4 + h5 {
  margin-top: 0.67em;
}
.admin-screen h4 + h5.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h4 + h6 {
  margin-top: 0.67em;
}
.admin-screen h4 + h6.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h5 {
  margin: 0;
}
.admin-screen h5 + h1 {
  margin-top: 0.67em;
}
.admin-screen h5 + h1.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h5 + h2 {
  margin-top: 0.67em;
}
.admin-screen h5 + h2.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h5 + h3 {
  margin-top: 0.67em;
}
.admin-screen h5 + h3.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h5 + h4 {
  margin-top: 0.67em;
}
.admin-screen h5 + h4.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h5 + h5 {
  margin-top: 0.67em;
}
.admin-screen h5 + h5.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h5 + h6 {
  margin-top: 0.67em;
}
.admin-screen h5 + h6.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h6 {
  margin: 0;
}
.admin-screen h6 + h1 {
  margin-top: 0.67em;
}
.admin-screen h6 + h1.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h6 + h2 {
  margin-top: 0.67em;
}
.admin-screen h6 + h2.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h6 + h3 {
  margin-top: 0.67em;
}
.admin-screen h6 + h3.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h6 + h4 {
  margin-top: 0.67em;
}
.admin-screen h6 + h4.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h6 + h5 {
  margin-top: 0.67em;
}
.admin-screen h6 + h5.subtitle {
  margin-top: 0;
  font-size: 0.5;
}
.admin-screen h6 + h6 {
  margin-top: 0.67em;
}
.admin-screen h6 + h6.subtitle {
  margin-top: 0;
  font-size: 0.5;
}

html, body {
  background-color: white;
  background: url("graphics/PODLOGA.svg");
  background-size: 5%;
  color: #3c3835;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: ALSSchlange, serif;
}
body:not([nofadein])::after {
  /* Fadein */
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  background: white;
  z-index: 100;
  pointer-events: none;
  animation: 0.5s fadeout forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    pointer-events: all;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none !important;
  }
}
body:not([logged_in=true]) .logged-in {
  display: none !important;
}

.display-none {
  display: none !important;
}

.hidden {
  opacity: 0;
  display: none;
}

.fadein, .fadeout {
  position: absolute;
  left: 0;
  top: 0;
}

.fadein {
  animation: fade-in 0.25s forwards;
}

.fadeout {
  animation: fade-out 0.25s forwards;
}

.follow-mouse {
  position: fixed;
  max-width: calc(50vmin - 16px);
  max-height: calc(50vmin - 16px);
  background: #0009;
  backdrop-filter: blur(5px);
  padding: 8px;
  left: 0;
  top: 0;
  z-index: 100;
  transition: transform 0.1s;
}
.mouse-left.mouse-top .follow-mouse {
  transform: translate(calc(var(--mouse-x) * 100vw + 16px), calc(var(--mouse-y) * 100vh + 16px));
}
.mouse-right.mouse-top .follow-mouse {
  transform: translate(calc(var(--mouse-x) * 100vh - 100% - 16px), calc(var(--mouse-y) * 100vh + 16px));
}
.mouse-left.mouse-bottom .follow-mouse {
  transform: translate(calc(var(--mouse-x) * 100vw + 16px), calc(var(--mouse-y) * 100vh - 100% - 16px));
}
.mouse-right.mouse-bottom .follow-mouse {
  transform: translate(calc(var(--mouse-x) * 100vw - 100% - 16px), calc(var(--mouse-y) * 100vh - 100% - 16px));
}

img {
  opacity: 1;
  transition: opacity 0.25s;
  animation: pulse 0.5s infinite;
}
img.not-loaded {
  opacity: 0;
}
img.icon {
  user-select: none;
}
header img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 125%;
}
footer img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  height: calc(100% - 2vh);
  width: calc(100% - 2vh);
}

header {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
  background: #3c3835;
  height: 13vh;
  width: 100%;
  box-sizing: border-box;
  padding: 8px;
}
header.smaller {
  height: 6.5vh;
}

footer {
  flex: 0 0 auto;
  position: absolute;
  background: white;
  bottom: 0;
  height: 4vh;
  width: 13vh;
  padding: 1vh;
}

.card {
  display: block;
  background: white;
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
}
.card.full {
  width: calc(100% - 32px);
  height: calc(100% - 32px);
}

.full {
  width: 100%;
  height: 100%;
}

.flex-static {
  flex: 0 0 auto;
}

.flex-dynamic {
  flex: 1 1;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.flex-center {
  justify-content: center;
}

.flex-middle {
  align-items: center;
}

.flex-horizontal {
  display: flex;
  flex-flow: row nowrap;
}

.flex-vertical {
  display: flex;
  flex-flow: column nowrap;
}

.flex-inline {
  display: inline-flex;
}

.fit-content {
  max-width: fit-content;
  max-height: fit-content;
}

span.icon {
  font-size: 24px;
  user-select: none;
}
span.icon::after {
  content: "︎";
}

button {
  background: #3c3835;
  color: white;
  padding: 8px 8px;
  text-transform: uppercase;
  border: none;
  font-family: "DIN Pro", sans-serif, sans;
  cursor: pointer;
  transition: opacity 0.1s;
}
button.action {
  background: #087;
  color: white;
}
button.action:hover, button.action:focus {
  background: #00ad98;
}
button.action:active {
  background: #007a6b;
}
button.warn {
  background: #f55;
  color: white;
}
button.warn:hover, button.warn:focus {
  background: #ff6666;
}
button.warn:active {
  background: #ff3333;
}
button.gap {
  margin: 4px;
}
button.icon {
  background: transparent;
  color: #3c3835;
}
button.icon:disabled {
  opacity: 0;
}
button.icon:hover, button.icon:focus {
  background: rgba(60, 56, 53, 0.1);
}
button.icon:active {
  background: rgba(60, 56, 53, 0.2);
}
button:hover, button:focus {
  background: #514c48;
}
button:active {
  background: #363230;
}
button:disabled, button.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.input-label {
  margin-top: 0.5em;
}

input, textarea, select {
  background: white;
  color: #3c3835;
  border: 2px solid #3c3835;
  padding: 4px;
  font-family: "DIN Pro", sans-serif, sans;
  font-size: 14px;
  resize: none;
}
input:focus, textarea:focus, select:focus {
  border: 2px solid #087;
}
input.changed, textarea.changed, select.changed {
  background: #f8d3b7;
}

select {
  appearance: none;
  background-image: url("graphics/chevron.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5em) 50%;
  background-size: 0.75em;
  padding-right: 1.5em;
}
select.changed {
  background: #f8d3b7;
  background-image: url("graphics/chevron.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5em) 50%;
  background-size: 0.75em;
}

input[type=checkbox] {
  display: inline-block;
  position: relative;
  appearance: none;
  background: white;
  width: 16px !important;
  height: 16px !important;
  border: 2px solid #3c3835;
  cursor: pointer;
}
input[type=checkbox]:focus {
  border: 2px solid #087;
}
input[type=checkbox].changed {
  background: #f8d3b7;
}
input[type=checkbox]:checked::after {
  content: "✔";
  color: #3c3835;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  padding: 4px;
}

form.login-form {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
form.login-form input {
  margin-bottom: 16px;
}

@keyframes spinner-dots {
  0% {
    box-shadow: -4vmax 2vmax 0 -1vmax currentColor, -2vmax 2vmax 0 0vmax currentColor, 0vmax 2vmax 0 0vmax currentColor, 2vmax 2vmax 0 0vmax currentColor;
  }
  100% {
    box-shadow: -2vmax 2vmax 0 0vmax currentColor, 0vmax 2vmax 0 0vmax currentColor, 2vmax 2vmax 0 0vmax currentColor, 4vmax 2vmax 0 -1vmax currentColor;
  }
}
.spinner {
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  background: transparent;
  z-index: 2;
}
.spinner ~ * {
  filter: blur(0.1vmax);
  opacity: 0.9;
}
.spinner::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100%;
  left: 50%;
  top: 50%;
  width: 1.5vmax;
  height: 1.5vmax;
  transform: translate(-50%, calc(-50% - 2vmax));
  background: transparent;
  animation: spinner-dots 1s linear infinite;
}

article.food-element {
  height: var(--height);
  position: relative;
  margin-top: 6vh;
  margin-left: 5vw;
  margin-right: 5vw;
  box-sizing: border-box;
  transition: margin-right 0.25s, opacity 0.25s, height 0.2s, scale 0.5s;
  z-index: 1;
  contain: layout size;
}
@media (max-aspect-ratio: 5/3) {
  article.food-element.focused {
    scale: 1.1;
  }
}
article.food-element h1, article.food-element p {
  transition: transform 0.25s, font-size 0.25s;
}
article.food-element h1 {
  font: calc(var(--height) * 0.0568181818) "DIN Pro";
  font-weight: bold;
  text-transform: uppercase;
}
article.food-element h1.food-title {
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  font-size: calc(var(--height) * 0.0818181818);
}
article.food-element p {
  font: calc(var(--height) * 0.0327272727) ALSSchlange;
}
article.food-element p.food-code, article.food-element p.food-std, article.food-element p.food-ref {
  position: absolute;
  margin: 0;
  bottom: 0;
}
article.food-element p.food-code.food-code, article.food-element p.food-std.food-code, article.food-element p.food-ref.food-code {
  transform: translate(var(--padding), 50%);
}
article.food-element p.food-code.food-std, article.food-element p.food-std.food-std, article.food-element p.food-ref.food-std {
  right: 0;
  transform: translate(0, 50%);
}
article.food-element p.food-code.food-ref, article.food-element p.food-std.food-ref, article.food-element p.food-ref.food-ref {
  font: calc(var(--height) * 0.0590909091) ALSSchlange;
  font-weight: bold;
  transform: translate(0, -calc(var(--padding)));
  right: 0;
}
article.food-element p.food-ref {
  position: absolute;
  font-weight: bold;
  margin: 0;
  bottom: var(--padding);
  right: 0;
}
article.food-element p.food-code {
  position: absolute;
  bottom: 0;
  margin: 0;
  transform: translate(var(--padding), 50%);
}
article.food-element p.food-discount {
  font: calc(var(--height) * 0.0590909091) "DIN Pro";
  font-weight: medium;
  font-stretch: condensed;
  margin: 0;
  position: absolute;
  bottom: 0;
  transform: translateY(calc(-1 * calc(var(--height) * 0.2272727273)));
  padding-left: calc(var(--padding) * 0.5);
}
article.food-element p.food-discount .food-original-price {
  text-decoration-line: line-through;
  text-decoration-thickness: 0.2vh;
  text-decoration-style: solid;
  text-decoration-color: #3c3835;
}
article.food-element p.food-price {
  font: calc(var(--height) * 0.2272727273) "DIN Pro";
  font-weight: bold;
  margin: 0;
  position: absolute;
  bottom: 0;
}
article.food-element p.food-price::after {
  content: "kn";
  font-size: 50.4%;
}
.food-image {
  position: absolute;
  height: 75vh;
  width: 75vh;
  z-index: 2;
  filter: brightness(110%);
  border-radius: 100%;
  transform-origin: top left;
  transform: scale(var(--scale));
  transition: transform 0.25s;
}
.food-image img {
  height: 100%;
  /* border-radius: 100%; */
  position: relative;
  z-index: 3;
}
.food-image img.not-loaded {
  border-radius: 100%;
  object-position: -1000vh;
  opacity: 1;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
}
.food-image.not-loaded::after {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background: rgba(158, 156, 154, 0.5);
  animation: load 2s infinite;
  z-index: 2;
}
.food-image.not-loaded::before {
  opacity: 0;
}
.food-image::before {
  /* Shadow */
  /* content: ""; */
  /* display: block; */
  /* position: absolute; */
  /* left: 0; */
  /* top: calc(50% - 16px); */
  /* width: 100%; */
  /* height: $shadow; */
  /* z-index: 0; */
  /* transform-origin: bottom; */
  /* transform: rotate(45deg); */
  /* opacity: 0.2; */
  /* box-shadow: shadowlist($primary, $shadow, $shadow, 0, $shadowstep, $shadowsteps); */
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(60, 56, 53, 0.1), transparent);
  transform-origin: top;
  transform: rotate(45deg);
  opacity: 1;
  transition: opacity 0.25s;
}
article.food-element:nth-child(2n+1) .food-image {
  right: 0;
  transform-origin: top right;
  transform: scale(var(--scale));
}
article.food-element:nth-child(2n+1) .food-image::before {
  transform: rotate(-45deg);
}

.food-details {
  display: flex;
  flex-flow: row-reverse nowrap;
  position: absolute;
  left: var(--half-height);
  width: calc(100% - var(--height) / 2);
  height: 100%;
  top: 0;
  background: white;
  padding: var(--padding);
  box-sizing: border-box;
  transition: width 0.2s, left 0.2s;
}
.food-details .food-summary {
  flex: 2;
  position: relative;
  border-top: calc(var(--height) * 0.0136363636) solid #3c3835;
  box-sizing: border-box;
  height: calc(var(--height) - 2 * var(--padding));
  transition: height 0.25s;
}
.food-details .food-blank {
  transition: flex-basis 0.2s;
  height: calc(var(--height));
  flex: 0 0 var(--half-height);
}
.food-details .food-details-additional {
  display: flex;
  flex-flow: row;
  height: 0;
  width: 100%;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  transition: height 0.1s, opacity 0.25s;
  top: 22vh;
  left: var(--padding);
  padding-top: 5.5vh;
  padding-left: var(--padding);
  padding-right: var(--padding);
  box-sizing: border-box;
}
.food-details .food-details-additional .food-details-column-left {
  flex: 3;
  margin-right: var(--padding);
}
.food-details .food-details-additional .food-details-column-left > * {
  border-top: 1px solid #3c3835;
  margin-top: var(--padding);
}
.food-details .food-details-additional .food-details-column-right {
  flex: 2;
  margin-left: var(--padding);
}
.food-details .food-details-additional .food-nutrients-icons-icons {
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  padding-right: calc(var(--padding) * 2);
}
.food-details .food-details-additional .food-nutrients-icons-icons p {
  font-size: calc(7.5vw * var(--factor));
}
.food-details .food-details-additional .food-nutrients-icons-icons > div {
  position: relative;
  flex: 1;
  margin: calc(var(--padding) * 0.1);
}
.food-details .food-details-additional .food-nutrients-icons-icons > div img {
  width: 100%;
  max-height: 10vh;
}
.food-details .food-details-additional .food-nutrients-icons-icons > div .nutrient-icon-title, .food-details .food-details-additional .food-nutrients-icons-icons > div .nutrient-icon-value, .food-details .food-details-additional .food-nutrients-icons-icons > div .nutrient-icon-daily {
  font-family: "DIN Pro", sans-serif, sans;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.food-details .food-details-additional .food-nutrients-icons-icons > div .nutrient-icon-title {
  font-weight: lighter;
  left: 50%;
  top: 10%;
  transform: translate(-50%, 0);
  font-stretch: condensed;
  text-transform: uppercase;
  text-align: center;
}
.food-details .food-details-additional .food-nutrients-icons-icons > div .nutrient-icon-value {
  left: 50%;
  top: calc(50% - 1em);
  transform: translate(-50%, -50%);
}
.food-details .food-details-additional .food-nutrients-icons-icons > div .nutrient-icon-value .nutrient-icon-value-value {
  font-size: 200%;
}
.food-details .food-details-additional .food-nutrients-icons-icons > div .nutrient-icon-value .nutrient-icon-value-uom {
  font-size: 125%;
}
.food-details .food-details-additional .food-nutrients-icons-icons > div .nutrient-icon-daily {
  color: white;
  left: 50%;
  top: 73%;
  transform: translate(-50%, -50%);
}
.food-details .food-details-additional .food-nutrients-icons-icons > div .nutrient-icon-daily .nutrient-icon-daily-value {
  font-size: 200%;
}
.food-details .food-details-additional .food-nutrients-icons-icons > div .nutrient-icon-daily .nutrient-icon-daily-uom {
  font-size: 125%;
}
.food-details .food-details-additional .food-nutrients-table-table {
  font-size: calc(var(--height) * 0.0327272727);
}
.food-details .food-details-additional .food-nutrients-table-table tr, .food-details .food-details-additional .food-nutrients-table-table td, .food-details .food-details-additional .food-nutrients-table-table th {
  border: 0px solid transparent;
  background: transparent;
  padding: 0;
}
.food-details .food-details-additional .food-nutrients-table-table thead tr:first-child td, .food-details .food-details-additional .food-nutrients-table-table thead tr:first-child th, .food-details .food-details-additional .food-nutrients-table-table tfoot tr:first-child td, .food-details .food-details-additional .food-nutrients-table-table tfoot tr:first-child th {
  border-top: var(--padding) solid #3c3835;
}
.food-details .food-details-additional .food-nutrients-table-table td, .food-details .food-details-additional .food-nutrients-table-table th {
  border-top: 1px solid #3c3835;
}
.food-details .food-details-additional .food-nutrients-table-table td.subnutrient, .food-details .food-details-additional .food-nutrients-table-table th.subnutrient {
  padding-left: 3ch;
}
.food-details .food-details-additional .food-nutrients-table-table td.align-right, .food-details .food-details-additional .food-nutrients-table-table th.align-right {
  text-align: right !important;
}
.food-details .food-details-additional .food-nutrients-table-table tr > * {
  text-align: right;
}
.food-details .food-details-additional .food-nutrients-table-table tr > *:first-child {
  text-align: left;
}
.food-details .food-details-additional .food-nutrients-table-table tbody tr:first-child td, .food-details .food-details-additional .food-nutrients-table-table tbody tr:first-child th {
  border-top: calc(0.5 * var(--padding)) solid #3c3835;
}
article.food-element:nth-child(2n+1) .food-details {
  left: 0;
  flex-flow: row nowrap;
}

article.food-element.large {
  height: 75vh;
}
article.food-element.large .food-image, article.food-element.large .food-blank, article.food-element.large .food-summary {
  --height: 22vh;
  --half-height: 11vh;
  --scale: 0.2933333333;
}
article.food-element.large .food-details {
  width: calc(100% - 2vw);
  left: 2vw;
  right: 0;
}
article.food-element.large .food-details .food-blank {
  flex-basis: calc(22vh - 2vw);
}
article.food-element.large .food-details .food-details-additional {
  height: calc(53vh - var(--padding));
  width: calc(100% - var(--padding) * 2);
  opacity: 1;
}
article.food-element:first-child {
  margin-top: 4vh;
}
article.food-element:last-child {
  margin-bottom: 8vh;
}

main {
  position: relative;
  flex: 1;
  width: 100vw;
  overflow: hidden;
  --height: 35.25vh;
  --scale: 0.47;
  --half-height: 17.625vh;
  --padding: 1.7625vh;
}
@media (max-aspect-ratio: 9/10) {
  main {
    --height: 22vh;
    --scale: 0.2933333333;
    --half-height: 11vh;
    --padding: 1.1vh;
  }
}
@media (min-aspect-ratio: 5/3) {
  main {
    --height: 75vh;
    --scale: 1;
    --half-height: 37.5vh;
    --padding: 3.75vh;
  }
}
main.has-scrollbar article.food-element {
  margin-right: 10vw;
}

div.scroll-container {
  position: relative;
  overflow: auto;
  height: 100%;
  width: 100%;
  box-sizing: content-box;
  z-index: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
div.scroll-container::-webkit-scrollbar {
  display: none;
}

div.scrollbar {
  display: block;
  position: absolute;
  right: 5vw;
  top: 0;
  width: 2vw;
  height: calc(100% - 8vh);
  background: white;
  border: solid #a5a7aa 1.5px;
  border-radius: 100000px;
  box-sizing: border-box;
  transition: width 0.25s, opacity 0.25s;
  z-index: 1;
  user-select: none;
  margin-top: 4vh;
  margin-bottom: 4vh;
  opacity: 1;
}
div.scrollbar.invisible {
  width: 0px;
  opacity: 0;
}
div.scrollbar .scrollbar-nub {
  display: block;
  position: absolute;
  height: 0;
  top: 0;
  width: 100%;
  background: #a5a7aa;
  border-radius: 100000px;
  box-sizing: content-box;
  padding-top: 2px;
  transition: transform 0.1s, height 0.25s;
}

.middle-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.popover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 50;
}
.popover.modal {
  background: rgba(60, 56, 53, 0.2);
  width: 100vw;
  height: 100vh;
}
.popover.modal > * {
  max-height: 80vh;
  max-width: 80vw;
}

.calorie .nutrition-subnutrients {
  display: none;
}

fieldset {
  all: unset;
  border: none;
  border-left: 2px solid #3c3835;
  padding-left: 8px;
  margin-left: 8px;
  margin-top: 0.5em;
  padding-bottom: 0.5em;
  position: relative;
  transition: border-color 0.25s;
}
fieldset:hover, fieldset:focus-within {
  border-left: 2px solid #087;
}
fieldset + fieldset {
  margin-top: 1em;
}
fieldset.new, fieldset.new legend {
  background: #f8d3b7;
}
fieldset legend {
  all: unset;
  font-family: ALSSchlange;
  font-weight: bold;
  font-size: 1.2em;
  margin-left: -12px;
  position: sticky;
  top: 0;
  background: white;
  width: calc(100% + 12px);
  z-index: 10;
}
fieldset fieldset legend {
  top: 1.15em;
  z-index: 9;
}
fieldset fieldset fieldset legend {
  top: 2.3em;
  z-index: 8;
}
fieldset fieldset fieldset fieldset legend {
  top: 3.45em;
  z-index: 7;
}

*:focus {
  outline: none;
}

/*# sourceMappingURL=style.css.map */
